.inputContainer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
}

.addItemInput {
    width: 85%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
    border:1px solid #acacac;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;

}

.addButton {
    width: 24px;
    height: 24px;
    background: url("../images/add.png") no-repeat center 100%;
    cursor:pointer
}